body {
    background-image: url('https://wallpaperaccess.com/full/22919.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
    #footer {
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;   /* Height of the footer */
        background:#6cf;
        };
        .Hat{
            text-align: center;
        }
        
        .sortinghat{
            widows: 50px;
            height:auto;
        }
        
        .hufflepuff{
        width: 150px;
        height: auto;
        }
        
        .slytherin{
            width: 150px;
            height: auto;
        }
        
        .gryffindor{
            width: 150px;
            height: auto;
        }
        
        .ravenclaw{
                width:150px;
                height:auto
            }