body {
    background-image: url('./assets/Purple-backround.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-weight: bolder;
    margin-left: 30px;
    margin-right: 15px;
}
.centralize{
    text-align:center;
    color: white;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;  
    background:#6cf;
}
.Hat{
    list-style-position: center;
}

.sortinghat{
    widows: 50px;
    height:auto;
}

.hufflepuff{
width: 150px;
height: auto;
}

.slytherin{
    width: 150px;
    height: auto;
}

.gryffindor{
    width: 156px;
    height: auto;
}

.ravenclaw{
    width:156px;
    height:auto
}

body {
    font-family:Jazz LET, fantasy;      
}
.text-success{
    font-size: x-large;
    font-weight: bold;
    
}
.text-warning{
    font-size: x-large;
    font-weight: bold;
   // margin-left: unset;
}
.text-primary{
    font-size: x-large;
    font-weight: bold;
}
.text-danger{
    font-size: x-large;
    font-weight: bold;
    
}